.container {
  height: 800px;
  /* width: 1920px; */
  border: 1px solid black;
  position: relative;
}

.gui {
  position: absolute;
  background-color: cornflowerblue;
  width: 400px;
  left: 0;
  top: 0;
}

.lvlup,
.gameover,
.pause {
  display: none;
  background-color: aquamarine;
}

/* @keyframes expand {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
  }
} */
#canvas {
  /* transition: width 0.3s ease; */
}

h1 {
  /* width: 600px; */
  margin: 0;
}
